/* reprogramarSesion.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: sans-serif;
}

.modal-content {
    background-color: #67A9FF  !important;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    border: 2px solid #ffffff;
}

.modal-content h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}

.modal-content h3 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
    color: #ffffff;
}

.modal-content p {
    margin-top: 0px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

.input-row {
    display: flex;
    gap: 20px; 
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box; 
    font-family: inherit;
}

.modal-actions {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 25px;
}

.modal-actions button {
    font-size: 0.9rem !important;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    min-width: 120px;
}

.error-message {
    color: #d93025;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}